{% extends 'base.html' %}
{% load filters %}

{% load static %}

{% block title %}Trends{% endblock %}

{% block body %}

<div id="container">
<div id="cc" style="height: 30px">
</div>

<div id="cont" style="width:100%; height:400px;"></div>
    <script type="text/javascript">
        Highcharts.chart('cont', {
            chart: {
                type: 'line'
            },

            title: {
                text: 'Frequency of crimes over the years'
            },

            xAxis: {
                categories: [
                {% for y in year%}
                    {{y}}, 
                {% endfor %} ]
            },

    yAxis: {
        title: {
            text: 'Number of crimes'
        }
    },
            series: [
                {% for crime in crime_type %}
            {
                name: '{{crime}}',
                data: [
                    {% for yr in year %}
                        {% with yr|addstr:";"|addstr:crime as templa %}
                            {{crime_data|dic_val_or_null:templa}},
                        {% endwith %}

                    {% endfor %}
                    ]
            },
                {% endfor %}

            ]

        });
    
    </script>

    <div id="location-cont" style="width:100%; height:400px;"></div>
    <script type="text/javascript">
Highcharts.chart('location-cont', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Crimes By Location Per year'
    },
    xAxis: {
        categories: [            {% for loc in locations_list %}
                                    '{{loc}}',
                                {% endfor %}
],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number of crimes',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [
    {% for loca in location_data %}
    {
        name: '{{loca}}',
        data: [
        {% for data in location_data|get_val:loca %}
            {{data}},
        {% endfor %}
        ]
    },
    {% endfor %}
    ]
});    </script>


    <div id="arrests-cont" style="width:100%; height:400px;"></div>
    <script type="text/javascript">
        Highcharts.chart('arrests-cont', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Number of Arrests Per Year'
    },
    xAxis: {
        categories: [2012, 2013, 2014, 2015, 2016, 2017
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number of arrests'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
        series: [
    {% for arr in arrest_data %}
    {
        name: '{{arr}}',
        data: [
        {% for data in arrest_data|get_val:arr %}
            {{data}},
        {% endfor %}
        ]
    },
    {% endfor %}
    ]
});
    </script>
<div id="map"></div>

<script type="text/javascript" src= "{% static 'js/heatmap.js' %}">
</script>



<!-- <div id = 'map_canvas' style="width: 310px; height: 400px" >
    
</div>
 -->
<!-- <script type="text/javascript">

     var map, heatmap;

       function initialize() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });

           heatmap = new google.maps.visualization.HeatmapLayer({
          data: [new google.maps.LatLng(-25.363, 131.044)],
          map: map
        });

      }

</script>




    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKX0EbfMDRDspKyNMXNE7rmvS9ebzySJE&libraries=visualization&callback=initialize">
    </script>
 -->
 </div>

{% endblock %}