{% extends 'base.html' %}

{% block title %}Test Page{% endblock %}

{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<h2 class="text-center">
    Home app - Test page (home/templates/home/test.html)
</h2>

<h2 class="text-center">
    CSC 495- Group 6
</h2>

<div class="demo-wrapper center-div">
    <div class="heatmap">
        <canvas class="heatmap-canvas" width="700px" height="400px">

        </canvas>
    </div>
</div>

<!--<script src="https://rawgit.com/pa7/heatmap.js/master/build/heatmap.js"></script>-->
<script src="{% static 'js/heatmap.min.js' %}"></script>
<script src="{% static 'js/heatmap.js' %}"></script>

{% endblock %}